<a href="https://colab.research.google.com/github/Alpeshpatel03434/Data-Science/blob/main/Basic_Descriptive_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## AIM  :  Consider dataset with student name, gender, Enrollmentno, 4 semester result with marks of each subject, his mobile number, city. Implement following in Python or R.

### Datasat link =  https://drive.google.com/file/d/1-L1cemdjctyfqTurO37RS918qyGUtZOd/view?usp=sharing

## Perform descriptive analysis and identify the data
## type-

In [ ]:
import pandas as pd

In [ ]:
# Read excel file
df = pd.read_excel("dataset.xlsx")

In [ ]:
df.head()

,Unnamed: 0,EnrollMent,Name,Gender,Contact Number,City,OS,DMATHS,OOPJ,PEM,COA
0,0,180280110498,pawan kumar,m,925-001-1948,Surat,60,64,68,65,60
1,1,180280110499,sajid,m,187-532-0745,Bhuj,60,60,66,62,67
2,2,180280110500,dakshina murthi,m,826-564-9053,Amreli,64,60,62,65,66
3,3,180280110501,sohan singh urf rupsingh,m,474-640-1804,Vadodara,62,65,62,67,69
4,4,180280110502,rajendra pal,m,524-811-1376,Gandhinagar,64,66,65,63,70

### 1) Count total no. of students in data set

In [ ]:
#count no of students
total_no_of_student = df['EnrollMent'].count()

In [ ]:
print("Total no of Students = ",total_no_of_student-1)

Total no of Students =  1000

### 2) Calculate mean of the marks for each subject

In [ ]:
#Mean of the marks for each subject
Mean_os=df['OS'].mean()
Mean_dmaths=df['DMATHS'].mean()
Mean_oop=df['OOPJ'].mean()
Mean_pem=df['PEM'].mean()
Mean_coa=df['COA'].mean()

In [ ]:
print("Mean of OS = ",Mean_os)
print("Mean of DMATHS = ",Mean_dmaths)
print("Mean of OOPJ = ",Mean_oop)
print("Mean of PEM = ",Mean_pem)
print("Mean of COA = ",Mean_coa)

Mean of OS =  46.81018981018981
Mean of DMATHS =  47.3006993006993
Mean of OOPJ =  47.59240759240759
Mean of PEM =  46.56643356643357
Mean of COA =  47.473526473526476

### 3) Find the highest and lowest marks in each subject in given data set

In [ ]:
#Find the highest and lowest marks

max_os=df['OS'].max()
min_os=df['OS'].min()
max_dmaths=df['DMATHS'].max()
min_dmaths=df['DMATHS'].min()
max_oop=df['OOPJ'].max()
min_oop=df['OOPJ'].min()
max_pem=df['PEM'].max()
min_pem=df['PEM'].min()
max_coa=df['COA'].max()
min_coa=df['COA'].min()

In [ ]:
print(" highest marks of OS = ",max_os)
print(" lovest marks of OS = ",min_os)
print("\n highest marks of DMATHS = ",max_dmaths)
print(" lovest marks of DMATHS = ",min_dmaths)
print("\n highest marks of OOPJ = ",max_oop)
print(" lovest marks of OOPJ = ",min_oop)
print("\n highest marks of PEM = ",max_pem)
print(" lovest marks of PEM = ",min_pem)
print("\n highest marks of COA = ",max_coa)
print(" lovest marks of COA = ",min_coa)

 highest marks of OS =  90
 lovest marks of OS =  15

 highest marks of DMATHS =  89
 lovest marks of DMATHS =  15

 highest marks of OOPJ =  87
 lovest marks of OOPJ =  15

 highest marks of PEM =  92
 lovest marks of PEM =  15

 highest marks of COA =  90
 lovest marks of COA =  15

### 4) Count total no of male and female in dataset.

In [ ]:
#Count total no of male and female
count_male=df['Gender'].where(df['Gender']=='m').count()
count_female=df['Gender'].where(df['Gender']=='f').count()

In [ ]:
print("Total no of male = ",count_male)
print("Total no of female = ",count_female)

Total no of male =  502
Total no of female =  499